[project]
	description = JCooky`s Homepage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JCooky (jcooky)
[access "refs/for/refs/*"]
	read = group user/JCooky (jcooky)
	push = group user/JCooky (jcooky)
	label-Code-Review = -2..+2 group user/JCooky (jcooky)
	label-Verified = -1..+1 group user/JCooky (jcooky)
	rebase = group user/JCooky (jcooky)
	removeReviewer = group user/JCooky (jcooky)
	submit = group user/JCooky (jcooky)
[access "refs/heads/*"]
	read = group user/JCooky (jcooky)
	create = group user/JCooky (jcooky)
	push = +force group user/JCooky (jcooky)
	pushMerge = group user/JCooky (jcooky)
[access "refs/tags/*"]
	push = +force group user/JCooky (jcooky)
	pushTag = group user/JCooky (jcooky)
	pushSignedTag = group user/JCooky (jcooky)
